body {
  height: 100vh;
  width:  100vw;
  background: #4d4d4d;
}

#container {
  width: 600px;
  font-family: 'Titillium Web', 'Arial', sans-serif;
  font-size: 40px;
  color: #1a1a1a;
  text-align: center;
  margin: 40px auto;
}

/* #listName {
  font-size: 30px;
  margin: 20px;
  color: #6bc7bf;
} */

#app {
  box-shadow: 0 0 5px #6bc7bf;
  font-size: 35px;
  color: #1a1a1a;
  background-color: white;
}

form {
  margin: 0;
  padding: 0;
}

#create {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: #b2b2b2;
  padding: 10px 30px;
  box-sizing: border-box;
  border-left:    1px  solid #;
  border-right:   1px  solid #6bc7bf;
  border-bottom:  2px  solid #6bc7bf;
  border-top:     15px solid #6bc7bf;
  text-align: center;
}


#create::-webkit-input-placeholder {
  color: #b2b2b2;
  text-align: center;
}

#create::-moz-placeholder {  /* Firefox 19+ */
   color: #b2b2b2;
   text-align: center;
}

#create:focus::-webkit-input-placeholder {
  color: transparent;
  text-align: center;
}

#create:focus::-moz-placeholder {  /* Firefox 19+ */
   color: transparent;
   text-align: center;
}

#list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  list-style-type: none;
  width: 100%;
  border-left:    1px  solid #6bc7bf;
  border-right:   1px  solid #6bc7bf;
  border-bottom:  2px  solid #6bc7bf;
  border-top:     0px  solid #6bc7bf;

}

.item .complete-button {
  position: absolute;
  left: 20px;
  top: 10px;
  cursor: pointer;
}

.item .value {
  margin: 0 50px;
  padding: 0 15px;
}

.item .delete-button {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

.item.completed {
  color: lightgrey;
}

#templates {
  display: none
}
