body {
  width: 100%;
  background-color: black;
  /*background-image: linear-gradient(135deg, #21D4FD 0%, #c153f3 100%);*/
}

#container {
  width: 600px;
  font-family: 'Titillium Web', 'Arial', sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 40px auto;
}

h1 {
  margin: 20px;
  color: orange;
}

#app {
  box-shadow: 0 0 5px orange;
  font-size: 35px;
  color: black;
  background-color: white;
}

form {
  margin: 0;
  padding: 0;
}

#create {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 10px 30px;
  box-sizing: border-box;
  border-left:    1px  solid orange;
  border-right:   1px  solid orange;
  border-bottom:  2px  solid orange;
  border-top:     15px solid orange;
  text-align: center;
}


#create::-webkit-input-placeholder {
  color: darkgrey;
  text-align: center;
}

#create::-moz-placeholder {  /* Firefox 19+ */
   color: darkgrey;
   text-align: center;
}

#create:focus::-webkit-input-placeholder {
  color: transparent;
  text-align: center;
}

#create:focus::-moz-placeholder {  /* Firefox 19+ */
   color: transparent;
   text-align: center;
}

#list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  list-style-type: none;
  width: 100%;
  border-left:    1px  solid orange;
  border-right:   1px  solid orange;
  border-bottom:  2px  solid orange;
  border-top:     0px  solid orange;

}

.item .complete-button {
  position: absolute;
  left: 20px;
  top: 10px;
  cursor: pointer;
}

.item .value {
  margin: 0 50px;
  padding: 0 15px;
}

.item .delete-button {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

.item.completed {
  color: lightgrey;
}

#templates {
  display: none
}
